.card {
    margin: 20px;
    background-color: lightblue;
}

.heading {
    background-color: aliceblue;
    min-height: 50px;
    font-size: 20px;
    padding: 0 20px;
}

.content {
    padding: 20px;
}